
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Thrift Store</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="top-navbar">
        <div class="logo">Thrift Store</div>
        <div class="search-bar">
            <input type="text" placeholder="Search for products...">
            <button>Search</button>
        </div>
        <div class="auth-options">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'cart_summary' %}">Cart</a>
        </div>
    </div>
      
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}



    <footer>
        &copy; 2024 Thrift Store. All Rights Reserved.
    </footer>
</body>
</html>
