{% extends 'base.html'%}


{% block content %}
    <main>
        <h1>{{ category }}</h1>
                <div class="product-grid">
                    {% for product in products %}
                    {% if product.is_sale %}

                    <div class="product-card">

                        <img src="{{product.image.url }}" alt="Product Image">
                        <div class="product-info">
                            <h3 class="product-title">{{product.name}}</h3>
                            <p class="product-category">{{product.category}}</p>
                            <div class="product-rating">
                                ★★★★★ 5
                            </div>
                            <div class="product-pricing">
                                <strike>
                                <span class="discounted-price">Rs.{{product.price}}</span>
                                </strike>
                                &nbsp
                                <span class="discounted-price">Rs.{{product.sale_price}}</span>

                            </div>
                            &nbsp
                            <a href="{% url 'product' product.id %}" class="btn btn-primary mt-3">View</a>
                        </div>
                    </div>
                    {% else %}
            <div class="product-card">
                <img src="{{product.image.url }}" alt="Product Image">
                <div class="product-info">
                    <h3 class="product-title">{{product.name}}</h3>
                    <p class="product-category">{{product.category}}</p>
                    <div class="product-rating">
                        ★★★★★ 5
                    </div>
                    <div class="product-pricing">
                        <span class="discounted-price">Rs.{{product.price}}</span>
                    </div>
                    &nbsp
                    <a href="{% url 'product' product.id %}" class="btn btn-primary mt-3">View</a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
           
        </div><br>
        <div class="slogan-bar">
            "Sustainable Fashion, Timeless Style, Affordable Prices!"
        </div>
    </main>
</body>
</html>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}